<% include ../layouts/cabecera.ejs %>
</head>
<body>
    <div class="container">
        <% include ../layouts/menu.ejs %>
        <div class="card">
            <div class="card-header">
                <h2>Listado de <%= title %></h2>
                <div class="float-right">
                    <a href="./users/create" type="button" class="btn btn-primary btn-sm" onclick="window.location=''">Nuevo</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Rol</th>
                            <th>Fec. ingreso</th>
                            <th>Fec. actualización</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < usuarios.length; i++ ) { %>
                            <tr>
                                <td> <%=usuarios[i].name%> </td>
                                <td> <%=usuarios[i].email%> </td>
                                <td class="align-middle"><%= usuarios[i].password %></td>
                                <td class="align-middle"> <%=usuarios[i].role%> </td>
                                <td> <%= usuarios[i].created_at %></td>
                                <td> <%= usuarios[i].updated_at %></td>
                                <td>
                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                        <form action="/users/editar/<%=usuarios[i].id%>" method="get">
                                            <button type="submit"class="btn btn-xs btn-success">Editar</button>
                                        </form>
                                    </div>
                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                        <form action="/users/eliminar/<%=usuarios[i].id%>" method="post">
                                            <button type="submit"class="btn btn-xs btn-danger">Borrar</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% include ../layouts/pie.ejs %>